[2019-11-13 06:10] SA2108 opened #1 "Simple PHP version"
Hi Darko,

A nice plugin, could you please port it to a non wordpress environment, as there is complete lack of availablity of such references which include progress bars.

regards

[2020-07-14 19:47] arnerotty opened #2 "Additional questions"
Hy Darko,

I bought the PRO version yesterday, and up untill now i'm quite impressed with the tool.
I was wondering if you could help me out with these 3 questions:

- Can you elaborate a bit on how exactly I can add 'tags' to the file upload function?
-How can I pull the video's back from my account at vimeo back to the front end so I can setup a video stream?
- I i'm able to pull the video's fro

[2020-07-17 00:05] gdarko commented on #2
Hi Arne,

Hope you are well.

1.) By tags you mean to tag the video on Vimeo.com or in the WordPress database upon upload?
2.) This is not possible at this time.
3.) This is not possible at this time.

Best,
Darko

[2020-09-16 03:16] darionco opened #3 "Activation/deactivation issues."
Hello,

I am working with a client that purchased the plugin and is switching domains, neither the new domain nor the old domain seem to have the plugin activated. I have access to the purchaser's account on codeverve.com and everything seems to be ok there.

Is there a way to deactivate the old installation and free the license up for a new activation?

also, I will be using a staging server to w

[2020-09-16 18:05] gdarko commented on #3
Hi Dario,

Can you send me the purchase code?

Thanks

On Wed, Sep 16, 2020, 05:16 Dario Segura <notifications@github.com> wrote:

[2020-09-16 22:08] gdarko commented on #3
Hi @darionco

Can you email us the purchase code at info@codeverve.com for further assistance?

Thanks

[2020-09-16 22:42] darionco commented on #3
Sure, the code is:
[code]
e-mail sent with all info.

Thanks!

[2020-09-18 19:45] pkimbrell38 opened #4 "Licence"
Hello Darko, Can I get you to reset my license for WP Vimeo Videos ___________________.  I activated it on my staging site and then when I went to publish on the live site it says I already used it.  Thank you.

Updated: Removed license key from public.

[2020-09-18 21:43] gdarko commented on #4
Hi @pkimbrell38

I re-generated your key because you posted it in public. Make sure you use the new one i sent you via email.

Thanks.

Best,
Darko

[2020-09-18 21:43] #4 closed, assigned to gdarko

[2020-09-18 21:43] gdarko commented on #3
Hi @darionco ,

This is now done. Thanks for the patience.

Best,
Darko

[2020-09-18 21:43] #3 closed, assigned to nobody

[2020-09-18 21:44] gdarko commented on #2
Closed for inactivity. If you have more questions feel free to ask us at info@codeverve.com

[2020-09-18 21:44] #2 closed, assigned to gdarko

[2020-09-18 21:45] gdarko commented on #1
Hi SA2108,

There are no plans for plain php version. However we will analyze your request more in details and update you here if anything changes.

Best,
Darko

[2020-09-18 21:45] #1 closed, assigned to nobody

[2020-09-18 22:48] pkimbrell38 commented on #4
Sorry about that. I thought that was a private ticket.

On Fri, Sep 18, 2020 at 3:43 PM Darko Gjorgjijoski <notifications@github.com>
wrote:

Sent from Gmail Mobile

[2020-09-23 04:48] InvincibleRanch opened #5 "Need product key"
Purchased Pro but can't find the product key anywhere.
Order Number / Receipt: #18004161
Billing date: 23 Sep 2020

Thanks

[2020-09-23 05:59] gdarko commented on #5
Hello @InvincibleRanch

I noticed this on some orders. I re-dispatched the emails. Can you let me know if you received it now?

Also, feel free to contact us at info@codeverve.com if you sharing more sensitive information.

Thanks

[2020-09-23 06:29] InvincibleRanch commented on #5
Hi @gdarko, got it. Thanks.

[2020-09-23 06:29] #5 closed, assigned to nobody

[2020-09-24 01:38] blackb2b opened #6 "Return Vimeo URL after uploading file from front end."
I just purchased your plugin. I am trying to configure so make it works compatible with our theme. I have two issues with Uploading Video from front end.

1. Currently, when I set Admin Field in Gravity Form setting as our custom field, it return the video file path instead of Vimeo URL. Can I get Vimeo URL?

2. Progress bar which is working on default File upload is not supported for Vimeo Upload

[2020-09-24 05:40] gdarko commented on #6
Hello,

1.) Can you send us a screenshot of the issue on email info@codeverve.com ?
2.) Progress bar is not available for the front-end uploads for security reasons. Unfortunately in order to have a progress bar we need to expose the access token in the front-end in order to be able to use the Viemo Javascript libraries to make it nice. However this is huge concern and if someone steal your access

[2020-09-24 05:50] blackb2b commented on #6
Hi,

1. You can check the image here. As you can see, I need the Vimeo URL is filled up at Video URL instead of file path at Video File.

https://imgur.com/a/w59HhuP

2. Yes, I noticed that your plugin does not support progress bar for front end upload. But the plugin will upload video to server first, right? So can we just show the progress bar of uploading file to server step only (supported by

[2020-09-24 05:57] gdarko commented on #6
Thanks,

1.) Please send us a login info at info@codeverve.com and we will check. Do you use a plugin to populate the metadata?
2.) We already working on different GravityForms field that will support this, however there is no significant progress at this time. This is planned as separate field and will be released on further major versions once we complete it.

[2020-09-24 07:44] blackb2b commented on #6
Hi,

1. Ok, I will send you the login information shortly.

2. I can configure to get progress bar on default Gravityform field. Just allow mutiple files upload. I will show you the demo via the site that I am going to send to you.

Best regards,

[2020-09-24 09:32] gdarko commented on #6
Hi,

Thanks. Yes, the plan is to have similar implementation like the original multi-file progress bar just initially with only one file per field.

Best,
Darko

[2020-09-24 10:02] blackb2b commented on #6
Yes, do you have ETA for that?

Also, I just sent you the information for point 1. Can you check it soon?

Thanks in advance!

Best regards,

[2020-09-24 17:51] gdarko commented on #6
Hi @blackb2b ,

I don't see anything in the email. Did you send it?

We scheduled it for version 1.5. Hopefully in a 1-2 months. I will keep you posted.

Thanks.

[2020-09-25 08:07] blackb2b commented on #6
Thanks, I already sent you. My email is g*****.hhtv@gmail.com

Please check.

Best regards,

[2020-09-28 05:04] blackb2b commented on #6
Hi,

Sorry, can you guys help me on this? I am still waiting for you reply.

Best regards,

[2020-09-28 06:00] gdarko commented on #6
Hello,

I am not receiving your emails. Can you try to email me at dg@darkog.com

Thanks

On Mon, Sep 28, 2020, 07:05 blackb2b <notifications@github.com> wrote:

[2020-09-28 15:22] blackb2b commented on #6
Sent!

Please give me a higher priority. I am in a hurry. Thanks!

Best regards,

[2020-09-28 16:04] gdarko commented on #6
How to reproduce the problem 1?

Thanks.

[2020-09-28 18:03] blackb2b commented on #6
Hi,

I sent the detailed in both your emails. Can you check and reply me via email system?

Best regards,

[2020-09-29 17:35] blackb2b commented on #6
You provided the bad support. Can I get a refund?

[2020-09-29 17:43] gdarko commented on #6
Hi @blackb2b ,

Based on the [terms & conditions](https://codeverve.com/terms-and-conditions/) and due to the nature of the product we do not process refunds.

Also, it's important to read our [support policy](https://codeverve.com/support-policy/) before because your requests doesn't seem to be eligible for support. But we agreed that we will look into what you are asking and we do not guarantee

[2020-09-30 07:11] blackb2b commented on #6
Thanks.

I got it.

Best regards,

[2020-10-16 18:47] richardpeng opened #7 "Uploading via Gravity Forms not working"
The videos I upload via Gravity Forms always end up 0 seconds and transcoding forever. This is what my Gravity Form configuration looks like:

<img width="515" alt="LWScreenShot+2020-10-16+at+2 47 19+PM" src="https://user-images.githubusercontent.com/430409/96297230-8b49bb00-0fbe-11eb-925d-0252c9be5c11.png">

[2020-10-20 12:43] #6 closed, assigned to nobody

[2020-10-20 12:44] gdarko commented on #7
Hi @richardpeng,

If you still have the problem please contact us at info@codeverve.com and create temporary login to the site so we can inspect in details.

Best,
Darko

[2020-10-25 19:17] directingchange opened #8 "Upload error"
I'm getting an error uploading videos from my site. (select Submission Format - Video PSA)

https://www.directingchangeca.org/entry-form-hope-justice-category/

The error is:
"Sorry, the current remaining quota in the Vimeo account is 0 B and this file is 32.9826 MB. Therefore the video can not be uploaded because the Vimeo account doesn't have enough free space."

I've checked with Vimeo and ther

[2020-10-25 22:42] gdarko commented on #8
Hi @directingchange,

There will be new version 1.5.0 release tomorrow (Monday) which will fix any problems related to it or add warnings about possibly missing scopes.

Also, can you check your scopes in the Settings screen?

You need to have the following scopes at least:

- create
- interact
- video_files
- private
- edit
- upload
- delete
- public

If you are missing scopes, please go to Vimeo

[2020-10-25 22:51] #7 closed, assigned to nobody

[2020-10-27 15:11] directingchange commented on #8
I updated to the latest version and created a new access token with all the scopes.  Still getting the same error.

"Sorry, the current remaining quota in the Vimeo account is 0 B and this file is 11.9295 MB. Therefore the video can not be uploaded because the Vimeo account doesn't have enough free space."

[2020-10-27 15:36] gdarko commented on #8
@directingchange  please send us an email with login credentials to the site and we will check.

Use this email info@codeverve.com

[2020-10-27 23:28] directingchange commented on #8
I sent credentials.

Here is a page to test with

https://www.directingchangeca.org/test-video/

thank you!

[2020-10-28 09:19] gdarko commented on #8
@directingchange , Thanks.

We found out that you are using customized plan of the Vimeo PRO  which was not supported in our plugin.

We released a new version v1.5.1 which brings support for "Vimeo PRO Unlimited". Also i updated it on your site and it works now.

Best,
Darko

[2020-10-29 12:14] directingchange commented on #8
Great, thank you

[2020-10-29 12:17] #8 closed, assigned to nobody

[2020-10-31 11:17] blackb2b opened #9 "Upload from front end via Gravity Form is not working, says out of quota"
I am using Pro version 1.5.1. I no longer am able to upload the video from front end. It said:
Sorry, the current remaining quota in the Vimeo account is 0 B and this file is 5.1399 MB. Therefore the video can not be uploaded because the Vimeo account doesn't have enough free space.

But still upload from backend.

[2020-10-31 14:25] gdarko commented on #9
Hi @blackb2b ,

I would love to help you. Please email me with admin login details and i will check asap.

info@codeverve.com

Best,
Darko

[2020-12-07 03:30] blackb2b opened #10 "upload progress bar when uploading from front end"
I purchased the Premium version. How can I have upload progress bar when uploading from front end?

Best regards,

[2020-12-07 19:51] directingchange opened #11 "Getting the vimeo Id from the gravity form field value"
Hi, how do I retrieve the vimeo id from the gravity form entry.  For example in other fields I would use

$fieldValue = rgar($entryArray, 1) where 1 is the field id.

This works for most fields but does not return a value for the vimeo upload field. When I export the entry I see the json that was returned for the film upload and the vimeo Id is in there. I just can't figure out the syntax to get i

[2020-12-07 20:06] gdarko commented on #11
Hey,

You need to decode the JSON value, something like this:

[code]

Let me know if that works.

Best,
Darko

[2020-12-07 20:12] #9 closed, assigned to nobody

[2020-12-07 20:13] gdarko commented on #10
Hello,

The is planned feature, it's not yet ready. Hopefully we will finish it in next versions.

Best,
Darko

[2020-12-07 20:42] directingchange commented on #11
Unfortunately that didn't work.  This seems to be an issue with

$entry = GFAPI::get_entry( $entry_id );

A var_dump of $entry shows an empty string in the Vimeo Upload field.  Exporting the same entry to CSV shows the JSON in the vimeo upload field. I'm not sure why they are different.

[2020-12-07 20:58] gdarko commented on #11
Are you calling this in a hook? Can you post the whole code? It may be too early to use that code because the Video is saved a bit later and different hook is available.

[2020-12-07 21:21] directingchange commented on #11
I am using this in a hook when a form is loaded to judge a film, I read the original entry form fields to get the information for the judging form.  Currently all fields work fine except the $entryVimeoUpl variable is always empty.  This should have the json returned from the vimeo upload. When I use the gravity forms export menu option, which exports to csv, the json is there.

add_filter( 'gform

[2020-12-08 04:35] directingchange commented on #11
As an alternative, is there a way to put the vimeo id in a different form field when the video upload completes? I suspect gravity forms is filtering script looking values in the API as a security feature. I checked the database and the json is there, it just is not included in the entry object array.

[2020-12-08 09:28] blackb2b commented on #10
Thanks. wish you can improve the front end upload much further.

Best regards,

[2020-12-08 09:30] blackb2b opened #12 "Use textarea as Description field for front end upload."
Hi,

For backend upload, it's textarea already. But for front end upload, it's text field, it should be textarea so user can preview more content they are typing into.

Best regards,

[2020-12-11 19:24] amroland opened #13 "Missing translation texts in POT file (Cannot translate)"
These texts are missing from wp-vimeo-videos-pro.pot file. So these cannot be translated:

![Képernyőfotó 2020-12-11 - 19 46 50](https://user-images.githubusercontent.com/39312392/101943758-f644f600-3beb-11eb-814a-98f70b82c130.png)

![Képernyőfotó 2020-12-11 - 20 10 14](https://user-images.githubusercontent.com/39312392/101945241-360cdd00-3bee-11eb-9e14-a40d421acaf7.png)

![Képernyőfotó 2

[2020-12-11 19:30] gdarko commented on #13
Thanks @amroland  for the detailed screenshots. I will go through those and re-sync everything. Will keep you posted.

[2020-12-11 19:34] amroland commented on #13
OK! Thanks!
🙂

[2021-01-07 13:39] ghost opened #14 "Multiple video upload and Vimeo Live"
Hi,

I purchase the Pro version of your plugin, and so far, working great! A couple of questions:

1. Is multi-file upload possible via Gravity forms? I've tried adding multiple file Upload fields on a form, and although I can select different Files, once the first Upload (button) is clicked, the rest of the (Ajax) buttons seem to upload, however only the first one is actually uploaded.

2. Any ne

[2021-01-07 18:22] gdarko commented on #14
Hi @paulkiff ,

1. This should work normally unless there is a bug. I will check it and get back here.
2. Unfortunately there are no plans to add this feature yet unless there are more requests.

Best regards,
Darko

[2021-01-07 19:52] ghost commented on #14
Thanks did the reply, gdarko.

When you mention that this should work normally on Gravity forms, do you mean multiple files can be selected in one upload Button/field? Or do we actually need different upload Buttons in the same form?

if the former, what will the files be named —if for example we select 5 video files and name the files (title) “Video test 01/07/2021”?

As you may imagine, this is

[2021-01-07 20:09] gdarko commented on #14
Hi @paulkiff

This will not work, if it is possible to select multiple videos than this is a bug and will be resolved.

If you want to accept two videos, simply drop the "Vimeo Upload" field two times in the form or N times depending on how much videos you want to accept - this is the functionality that is supported for multiple uploads.

I am researching new ways to make this possible, probably t

[2021-01-07 20:16] paulkiff commented on #14
Thanks, gdarko

As per your above answer about dropping multiple “Vimeo Upload” fields in the form, how does the user uploads all after selecting the files or does the user needs to click on each Upload button separately?

A progress bar would be great as we plan to upload several HQ video files from users smartphones and they will feel lost after a few minutes go by without any visual indicator.

[2021-01-08 12:29] paulkiff commented on #14
Hi gdarko,

No matter what, I can not get multiple files to upload. I've dropped several "Vimeo Upload" field on a Gravity form. On the front-end everything "looks" good, however, when selecting 4 or 5 files, only the first one is uploaded.

Do you mind checking on your end if this is working as expected?

[2021-01-09 10:54] ghost opened #15 "Slow upload speed comparing to Vimeo Front-end uploader"
Hi gdarko,

We were testing the Gravity form uploader (we were able to successfully setup multiple file upload.. thanks!) and uploading a 500Mb never finishes, while the same file uploaded via the Vimeo front-end uploader takes some 30 secs or so to finish.

I've modified our PHP settings as follows:

Quota	11.98 GB / 5 TB
Rate Limits	2 / 1000 per minute (resets on 2021-01-09 10:51:59)
PHP Version

[2021-01-09 11:06] ghost commented on #15
In case it helps, I just checked on DevTools while uploading a "big" file and I get a POST 413 error message ( Payload Too Large?).

[2021-01-09 13:10] gdarko commented on #15
Hi @paulkiff ,

To fix that problem you will likely need to increase the maximum request size in your web server configuration.

* Nginx example: `client_max_body_size 1000M` in the `nginx.conf`
* Apache example:  `LimitRequestBody 0` in the `apache.conf`

Best,
Darko

[2021-01-09 13:57] gdarko commented on #15
Hi @paulkiff

The upload speed is normal because it first uploads the video to the server and then the video is sent to Vimeo.

I can not include the front-end uploader on the front-end because the access token will be exposed to the wild and abusers can do whatever they want from your account using the access token.

Best,
Darko

[2021-01-09 14:10] ghost commented on #15
Thanks so much, gdarko

Sorry to be a pain, but I've tried adding "LimitRequestBody 0" to my .htaccess to no avail. I keep getting the same POST 413 error message. I do understand this is my specific server configuration and not an issue with the actual plugin, however I need to get his demo to our client and sorta running out of options.

Any other ideas?

BTW, I'm on AWS (Bitnami WP), if it help

[2021-01-09 14:11] ghost commented on #15
OK, that makes sense. I was under the impression that the plugin uploads directly to Vimeo (until I had my server's max size upload issues).

Thanks,

[2021-01-15 01:53] jordanurbs opened #16 "Inserting video from local library not working"
Hi, I upgraded to PRO so I could embed my existing private videos to Vimeo via Wordpress and have new ones embed automatically. But instead there is an empty list in the "existing videos" dropdown. What is the problem?

Another related issue, how can I know if my plugin is properly activated? After I enter my code and click activate, it tells me that number has already been registered.

[2021-01-15 08:13] gdarko commented on #16
Hi @jordanurbs ,

Can you message us at info@codeverve.com with WP Admin details and we will take a look.

Best regards,
Darko

[2021-01-27 10:58] ghost opened #17 "Video file format(s)"
Hi Gdarko,

What file types are supported by the plugin? I tried uploading an .MTS video file (supported by the Vimeo uploader), however Gravity forms show a "Uploaded file types are not supported" error message.

I was under the impression that the uploader supports all file types supported by Vimeo?

[2021-01-27 11:19] gdarko commented on #17
Hi Paulkiff,

I will check this, it's probably this .mts extension is excluded by the validations.

I plan to release version 1.5.6 today/tomorrow and will include it.

Best Regards,
Darko

[2021-01-27 11:24] ghost commented on #17
Great, thanks so much, Gdarko.

[2021-01-28 14:07] ghost commented on #17
Hello GDarko,

Any news on 1.5.6?
On Jan 27, 2021, 20:19 +0900, Darko Gjorgjijoski <notifications@github.com>, wrote:

[2021-01-29 11:33] gdarko commented on #17
Hi @paulkiff

The new version is now released. Sorry, it took some time to test everything.

Best Regards,
Darko

[2021-02-23 15:40] #17 closed, assigned to nobody

[2021-02-23 15:42] gdarko commented on #16
Closing for inactivity, if the issue still exists, feel free to contact us.

[2021-02-23 15:42] #16 closed, assigned to nobody

[2021-02-23 15:43] gdarko commented on #15
Hi @paulkiff ,

In version 1.6.0 we implemented progress bar for the front-end feel free to check it :-)

Best Regards,
Darko

[2021-02-23 15:43] #15 closed, assigned to nobody

[2021-02-23 15:44] gdarko commented on #14
Hi @paulkiff ,

In version 1.6.0 we implemented progress bar for the front-end feel free to check it.

Best Regards,
Darko

[2021-02-23 15:44] #14 closed, assigned to nobody

[2021-02-23 15:45] #11 closed, assigned to nobody

[2021-02-23 15:46] gdarko commented on #10
Hi @blackb2b,

In version 1.6.0 we implemented progress bar for the front-end feel free to check it. Also we added support for WPForms, another forms plugin.

Best Regards,
Darko

[2021-02-23 15:46] #10 closed, assigned to nobody

[2021-02-25 18:49] blackb2b opened #21 "Morden Vimeo Uploader is not working with AJAX"
When you opt AJAX for the form, the Morden upload will not be able to clickable.

[2021-02-28 16:59] amroland opened #22 "Hide Settings > Vimeo menu for Administrators in Multisite"
Dear Darko,

I suggest a new setting:
Hide Settings > Vimeo menu for normal Administrators in Multisite. (Only Super Administrator can see it.)

I am running a Multisite WP where users with normal Administrator role should not see Settings > Vimeo menu. Only users with Super Administrator role should see it.
You could implement it to settings.

Thanks,
Roland

[2021-03-01 13:52] amroland opened #23 "User filter not working"
Dear Darko,

I tried user filter on Media > Vimeo screen, but it wasn't working.

I started to enter some 3 letters, but no results was found.
Screenshot:
![Képernyőfotó 2021-03-01 - 14 21 50](https://user-images.githubusercontent.com/39312392/109505872-52a60c00-7a9d-11eb-9905-da2d592ce7f1.png)

Can you check it?
Thanks,
BR,
Roland

[2021-03-10 19:32] gdarko commented on #22
Hi @amroland ,

Hope you are doing well. Feel free to message me at info@codeverve.com and list all the websites you are currently using, so i can safely deactivate the key on the others.

Regarding the Vimeo Settings, in the next version I will try to add something to control the Setting, possibly a filter.

Best Regards,
Darko

[2021-03-10 19:32] #22 closed, assigned to nobody

[2021-03-10 19:33] gdarko commented on #21
Hello,

Is the issue resolved with the latest release? Message me with your website details  at info@codeverve.com and i will check.

Best Regards,
Darko

[2021-03-10 19:33] #21 closed, assigned to nobody

[2021-03-11 03:13] blackb2b commented on #21
Hi,

Thanks, I got it worked on single page form. But the issue persists when I use page break, and place the Uploader in second page.

https://docs.gravityforms.com/page-break/

Best regards,

[2021-03-11 03:14] blackb2b commented on #21
I commented to your plugin's github. Let me know if you need further
information.

Best regards,

On Thu, Mar 11, 2021 at 2:33 AM Darko Gjorgjijoski ***@***.***>
wrote:

[2021-03-25 14:09] gdarko commented on #23
@amroland

Hi, It works however i need to tweak it, i think it requires more characters than 3.

Will check this.

Thanks.

[2021-04-07 12:40] anggaerlsa opened #24 "Video from custom post type front-end without shortcode"
Hi Gdarko,

I use a custom post type with video upload form in it.
I won't integrate the front-end upload with Vimeo at this step, the upload will directly go to WordPress media library as usual.

However, after video uploaded to media library, is it possible to upload the video from the post editor page with post title as video title automatically without access media library?

Cheers :)

[2021-04-19 15:25] gdarko commented on #24
Hi @anggaerlsa

Not sure if i understand. If you already uploaded the video to Media > Vimeo, then you can embed it via the code provided in Media > Vimeo.

In the PRO version you have option to select one of your already uploaded videos and embed it directly in the editor.

Best Regards,
Darko

[2021-04-21 12:28] beepbop12 opened #25 "Can't find the license key input field."
Hey, I recently bought the WP Vimeo pro version but I can't find any fields within the WP Vimeo plugin to activate my. pro version using the license key?

[2021-04-21 13:07] gdarko commented on #25
Answered on email.

[2021-04-21 13:07] #25 closed, assigned to nobody

[2021-05-12 16:00] gdarko commented on #24
Closing for inactivity.

[2021-05-12 16:00] #24 closed, assigned to nobody

[2021-05-17 08:27] maxmarkus opened #26 "Feature: Pre-post hook, modify before upload"
Hello,

I would like to see the possibility to modify the content before upload (and the other way around), since I would like to verify and change the payload before sending it to vimeo. Not talking about the video itself, but about the metadata.

My initial thought was about using a separate folder per user in vimeo, but that might be overkill.
Even if there are later maybe thousands of videos,

[2021-05-26 09:56] amroland commented on #23
Hi,

I checked it once more. You have to enter the whole username to give you result. It doesn't work with fewer character.
For example:

With "pallimola" username only "pallimola" will give you result. But "pallimol" doesn't give you result:
![Képernyőfotó 2021-05-26 - 11 53 45](https://user-images.githubusercontent.com/39312392/119640582-0d357880-be19-11eb-856b-e99fea6fbef9.png)
![Képernyőf

[2021-05-27 12:12] gdarko commented on #26
Hi @maxmarkus ,

In the free version of the plugin, there is option to use `dgv_backend_after_upload` hook.

Something like this:

[code]

At this time the plugin API does not include utilities for folder management, but i will think for a way to include those methods in both free and premium versions.

Best Regards,
Darko

[2021-05-31 09:00] maxmarkus commented on #26
Hi @gdarko

Thank you for your response, I am not sure if this is what I was looking for.

I checked the code and I think it would be a `dgv_backend_before_upload` that I need in order to modify the `$params`, so those values are also persisted in vimeo.
Folder management is a bigger topic of its own, guess not ultimately necessary for my use case, just convenience.

Using the premium version btw.

[2021-05-31 09:30] FunkkyMonkeyy opened #27 "Don't have "Vimeo" button on frond-end TinyMCE Editor"
Hello sir,
I'm using a WP Vimeo Videos Pro lasted version, v1.7.0, but right now, in my front-end TinyMCE Editor, I don't see anything but in your description you have it. Does it have to activate automatically or do I have to activate it manually with wp_editor() in the functions.php , and what code do I have to do that if I have to activate it manually? Please help me in soon, thank you

[2021-05-31 10:30] gdarko commented on #26
Hi @maxmarkus

Thanks for the information.

Just wanted to ask, which APIs you are using?

For example, I can add those hooks when the process is done through the backend (using PHP) e.g when using the frontend upload.

However, I can't add those hooks when using the Gutenberg/TinyMCE upload because those are handled entirely via JavaScript. If WordPress has some action/filter system for JavaScrip

[2021-05-31 10:36] TomuTofu opened #28 "Vimeo not appear on Front-end"
Dear Darko

I recently bought wp vimeo video plugin for front-end video upload of MasterStudy website. However, despite the upload setting was added, it does not appear on front-end as I expected. especially the description box is using the tinyMCE powered. I would be grateful if there is a solution for this issue as soon as possible.

Thank you and best regards

![Screenshot (264)](https://user-i

[2021-05-31 10:37] gdarko commented on #27
Hi @FunkkyMonkeyy ,

Can you please message us at info@codeverve.com with more details and please include login details to check the issue.

Best Regards,
Darko

[2021-05-31 10:41] gdarko commented on #28
Hi @TomuTofu,

I checked the screenshot you send and it looks like this modal is using a different version of TinyMCE not added through  `wp_editor()`  but custom initialization which is not supported.

Can you tell me which plugin is this?

I suggest opening a support ticket to the plugin author and ask them to `wp_editor()` to output the TinyMCE editor instead of their own functionality which pr

[2021-05-31 11:04] TomuTofu commented on #28
Thank you for your reply Mr.Darko

I'm currently using Masterstudy LMS plugin that comes with tinyMCE built-in. However if this issue is out of your reach would you kindly instruct me on how to open the support ticket to the plugin author.

Best Regards.

[2021-05-31 12:20] maxmarkus commented on #26
Hi @gdarko

Using the Vimeo custom post type that is available in the backend. Not using any Gutenberg/TinyMCE, since my CPTs are built with standard ACF fields, where I can use a "relation" to get Vimeo entries.

~~I wonder what should be different for Gutenberg/TinyMCE, since you do `do_action( 'dgv_backend_after_upload'` in three places and those are right before the related video upload. So th

[2021-05-31 14:11] gdarko commented on #28
Hi @TomuTofu,

You can ask them to replace the built in TinyMCE editor with <?php wp_editor(); ?> function. This will add the WordPress's TinyMCE editor that can be extended from third party plugins WP Vimeo Videos.

This shouldn't be a massive change, but their software will benefit from the extendability that this function brings.

Best Regards,
Darko

[2021-06-01 21:18] gdarko commented on #26
@maxmarkus , I added the hook for the other use cases as of version 1.7.1

For example, different client requested to add a timestamp on the Video dates created from the front-end, This wasn't possible before 1.7.1 and you can see example here:

[code]

Please note that you can still manipulate the Vimeo.com entries with the using `dgv_backend_after_upload` and `dgv_frontend_after_upload`. It just

[2021-06-02 06:11] FunkkyMonkeyy commented on #27
Thanks for reply me and your assistance @gdarko
Also, Sorry for my late response for you
Now i find issue for my page, my theme i'm use now, it's use VueEasyTinyMce, one offer for Vue.js in this case, and i find the issues don't have in front end because it's don't have name plugins in it, show you can talk to me about slug of your plugins so i can add this to front end
If you want to know more ab

[2021-06-02 16:37] amroland commented on #23
Dear Darko,

In version 1.7.1 I can see this fix:
Fixed author filter in tinymce / gutenberg upload modal when show videos of current author option is enabled.

Isn't that about this issue, is it?

BR,
Roland

[2021-06-02 16:46] gdarko commented on #23
Hi @amroland ,

No, this one is coming in the next update once i finish with testing.

This is a problem that I found when editing as a non-admin user in the Gutenberg/TinyMCE editor it was showing other videos uploaded by other authors, even if that option is enabled in settings.

[2021-06-08 08:05] maxmarkus commented on #26
Thanks alot, I think that solves my requirements. Would close it for now and only reopen if I experience issues with the new feature.

[2021-06-08 08:05] #26 closed, assigned to nobody

[2021-06-09 09:59] codingspook opened #29 "Video upload doesn't work"
![Schermata 2021-06-09 alle 11 56 45](https://user-images.githubusercontent.com/65157104/121334238-c74cda00-c919-11eb-8c28-ee238c150bab.png)

Hi, i can't find out how upload doesn't work anywhere (Media > Vimeo or Gravity Form field).

Can you help me with this please? I'm pretty sure that i had correctly configured the plugin.

Thank you

[2021-06-09 10:05] AndyNeedham01 opened #30 "What Does it add to the Post"
Hi,

I'm thinking of buying this product - pro version.

If I upload a video to Vimeo using this upload what information does it add to the post / database?

Does it add the URL where the video can be viewed?

I use Elementor and it works with a URL

Also, any chance of this working with Crocoblock JetEngine forms?

Thanks

[2021-06-09 10:29] gdarko commented on #29
Hi @mdicampli,

Can you contact me by [email](mailto:info@codeverve.com) please and send details to the site so I can check.

Thanks.

[2021-06-09 10:34] gdarko commented on #30
Hi @AndyNeedham01 ,

1.) It inserts `[dgv_vimeo_video id="the_vimeo_id"]` shortcode and that shortcode prints out the vimeo embed markup. It can also be modified to show just a link (oEmbed) with a filter as follow:

[code]

2.) Currently, it doesn't support Crocblock JetEngine forms, but I will take a look and see if I can integrate it in one of the future versions.

Best Regards,
Darko

[2021-06-09 11:26] jykkema opened #31 "Video upload problems"
Uploading from admin area works great. Video is visible on Vimeo.com.

When using Gravity Forms and Vimeo upload, everything goes ok, I can see video added from admin area.
When I go to Vimeo.com or use Vimeo link from admin area, video says uploading.
Even I wait hours, video wont be ready.

I have tried modern and classic Vimeo upload on Gravity Forms.

[2021-06-09 12:04] gdarko commented on #31
Hi @jykkema,

Thanks for your message.

I will need to take a look at your environment, can you please send me details of the site via [email](mailto:info@codeverve.com).

Thanks.

[2021-06-09 12:11] jykkema commented on #31
@gdarko

Thanks, done.

-jykkema

[2021-06-10 00:05] #31 closed, assigned to nobody

[2021-06-10 00:06] gdarko commented on #28
Closing for inactivity.

[2021-06-10 00:06] #28 closed, assigned to nobody

[2021-06-10 08:38] amroland opened #32 "Front-end upload doesn't work"
Hi Darko,

I have tried to upload on front-end. It doesn't work through Gravity forms Modern or Classic mode. And it doesn't work through Gutenberg WP Vimeo Upload, too. These videos are just uploading-uploading in Vimeo account.
Uploading only works through admin site (Media » Vimeo).
(I tested it logged in and also logged out in incognito mode. "tehen" means "cow" in Hungarian.)
![Képernyőfoto

[2021-06-10 08:43] gdarko commented on #32
Hello @amroland,

This issue with GravityForms integration was resolved in version 1.7.2 (released yesterday).

Can you please update to 1.7.2 of the PRO version and then check again.

Best Regards,
Darko

[2021-06-10 09:42] gdarko commented on #32
@amroland ,

Regarding the Gutenberg block, can you please send me a console screenshot or email me so we can discuss this further.

Thanks

[2021-06-10 10:03] amroland opened #33 ""Save settings" button doesn't refresh page"
Hi Darko,

It is a bit strange when I click on "Save settings" button at the buttom of settings page of your plugin. Because it doesn't refresh or jump up. Nothing visible has happened.

"Settings saved successfully!" notification appears at the top of the page, but you don't feel like saving is ready, because nothing has happened after you clicked on "Save settings" button.
I always have to scrol

[2021-06-10 10:05] amroland opened #34 "Delete doesn't work"
Hi Darko,

Delete link doesn't delete the video from Vimeo account:
1, There is an uploaded video on admin site:
![Képernyőfotó 2021-06-10 - 11 51 40](https://user-images.githubusercontent.com/39312392/121504431-4c032b00-c9e2-11eb-9fba-ba25abe9363d.png)
It is listed on Vimeo, too:
![Képernyőfotó 2021-06-10 - 11 51 57](https://user-images.githubusercontent.com/39312392/121504499-59201a00-c9e2

[2021-06-10 10:12] amroland commented on #32
Dear @gdarko,

Version 1.7.2 really resolve Gravity forms front-end issue.
Thanks!

Regarding Gutenberg block, I send you an email directly.

BR,
Roland

[2021-06-10 10:43] gdarko commented on #34
Hi @aroland,

Do you have the "delete" scope enabled for your API token?

Please check Settings page to view the enabled scopes.

Best Regards,
Darko

[2021-06-10 10:56] amroland commented on #34
Hi @gdarko,

I have set these API app settings for about 2 years and I didn't change anything. I checked it now and as I expected it, everything is OK:

Scopes | private, create, edit, delete, interact, upload, video_files, public

[2021-06-10 10:58] gdarko commented on #34
I will revisit this function for the next version, some other users reported similar issues.

Thanks for the info.

[2021-06-10 12:44] amroland opened #35 "Clicking on Author goes to logged in user's profile"
Hi Darko,

As an administrator I can see everyone's uploaded videos on Media » Vimeo page.
If I click on a different author than me, it direct me to MY profile page. Not to his/her profile.
![Képernyőfotó 2021-06-10 - 14 38 40](https://user-images.githubusercontent.com/39312392/121526916-297d0c00-c9fa-11eb-9acc-91fc9f350ff0.png)

The link is always: /wp-admin/profile.php

It is not a problem fo

[2021-06-15 16:50] amroland opened #36 "Column "Size" text cannot be translated"
Hi Darko,

"Size" column text on video list screen cannot be translated. It is missing from POT file.

BR,
Roland

[2021-06-15 16:54] amroland opened #37 ""Who can embed ..." instead of "Where can be embedded ...""
Dear Darko,

I think "Who can embed the uploaded Videos? (comma separated list of domains)" on Settings screen is incorrect for that setting.
I thing "Where can be embedded the uploaded Videos? (comma separated list of domains)" would be much precise.

BR,
Roland

[2021-07-22 14:25] michaelpachan opened #38 "Gravity forms merge tag in confirmation message"
Hi there,
the merge tags only works in notifications but not in confirmations?
Is this right?
If I put the merge tag in confirmation message I get no results.

Regards
Michael

[2021-08-22 15:10] amroland opened #39 "Admin screen on front end?"
Hi Darko,

Is there a way to display your plugin's admin interface/screen on the front end for a logged in user?
There should be a new menu item on My Account area where you can see a list of your own uploaded videos just as if you are able to see it in the admin interface/screen.
For example:
![Képernyőfotó 2021-08-22 - 17 00 45](https://user-images.githubusercontent.com/39312392/130360198-69d

[2021-09-05 11:00] gdarko commented on #23
This is fixed in the upcoming release that will be released tomorrow.

[2021-09-05 11:00] #23 closed, assigned to nobody

[2021-09-05 11:00] gdarko commented on #12
Already fixed.

[2021-09-05 11:00] #12 closed, assigned to nobody

[2021-09-05 11:03] gdarko commented on #27
The WP Vimeo Videos only supports the native WordPress tinymce.

[2021-09-05 11:03] #27 closed, assigned to nobody

[2021-09-05 11:03] gdarko commented on #29
Closed for inactivity.

[2021-09-05 11:03] #29 closed, assigned to nobody

[2021-09-05 11:04] #32 closed, assigned to gdarko

[2021-09-05 12:28] gdarko commented on #34
This is fixed in the new version which will be released this coming week, possibly tomorrow. @amroland

[2021-09-05 14:02] gdarko commented on #39
This is already work in progress, however, i am working on a shortcode that displays a table of videos on the front-end and allows the user to edit or delete video or even upload a video - it will be possible to embed it anywhere.

@amroland

[2021-09-05 14:15] gdarko commented on #38
Hello,

This issue was fixed in the versions 1.7.2 or above. Which version you are using?

Best Regards,
Darko

[2021-09-08 08:28] #38 closed, assigned to nobody

[2021-09-08 08:28] #36 closed, assigned to nobody

[2021-09-08 08:29] gdarko commented on #36
Fixed in the new 1.7.3 version.

[2021-09-08 08:29] gdarko commented on #35
Fixed in the new 1.7.3 version

[2021-09-08 08:29] #35 closed, assigned to nobody

[2021-09-08 08:29] #34 closed, assigned to nobody

[2021-09-08 08:35] gdarko commented on #13
I believe this is fixed. Please open a new issue if anything else is missing. @amroland

[2021-09-08 08:35] #13 closed, assigned to gdarko

[2021-09-11 12:19] amroland commented on #39
Dear @gdarko ,

That's great! When is this expected to be completed?
Roland

[2021-11-10 13:03] SebDigital opened #40 "Viideo Vimeo Pro with Gravity Form Post Creation"
Hi,
We have an issue with the plugin (using the pro version) and Gravity Form Add-on Post Creation.
When I use the video upload field in the form, all is working in terms of sending the video to vimeo etc
But it forced for some reason the Title of the Post Created by the form to be "Select Select" instead of the custom field I have entered.
Also how I can grab the Video URL to display in the front

[2021-12-01 09:48] amroland opened #41 "Missing translation texts in POT file"
"The requested video couldn't be found." text is missing in POT file.
Cannot be translated.
It is a notification text which appear when a video is deleted from admin site, however the actual video had been deleted from Vimeo previously.

![Képernyőfotó 2021-12-01 - 10 42 09](https://user-images.githubusercontent.com/39312392/144211184-baf18842-c3bd-4f3d-b9cb-82d4488db00b.png)

"Save Settings" t

[2021-12-01 10:03] amroland opened #42 "Bulk actions like remove (suggestion)"
It would be good feature if bulk actions can be used on admin page like delete videos from Vimeo.
There should be check boxes at the beginning of each line with which you can select more videos to delete from Vimeo.

[2021-12-01 14:05] chrslcy opened #43 "Front-end form submission - getting vimeo url"
Front-end form submission with gravity forms is working fine, but I would like users to be presented with the vimeo url, just as happens when uploading via admin. Is this possible?

Thanks,

Chris

[2021-12-02 10:07] gdarko commented on #43
Hi @chrslcy ,

Which front-end integration you are using GravityForms or WPForms?

It is also possible to integrate the Vimeo uploader that you see in the admin editors anywhere by following this Gist
https://gist.github.com/gdarko/61b75a9709492054b90227801bb352fb

Best Regards,
Darko

[2021-12-02 10:10] gdarko commented on #42
Hi @amroland ,

Thanks for the suggestion.

I will consider this for the next 1.8.0 which is coming soon. It will include general admin table improvements and I am planning to add Video categories.

Best Regards,
Darko

[2021-12-02 11:34] chrslcy commented on #43
Hi @gdarko,

Thanks for the prompt reply. I'm using Gravity Forms.

Here's my attempt with a gravity form:
https://schoolsays.co.uk/ video-upload/ (remove the space)

Here's my attempt with your gist:
https://schoolsays.co.uk/ video-upload-gist/ (remove the space)

Neither displays the vimeo url where the video has been uploaded.

Thanks,

Chris

[2021-12-02 12:00] gdarko commented on #43
Hi Chris,

1. Regarding the Gravity Form integration, you can only display the URL after the form submission at this time. To do this, go to GravityForms > Confirmations > Add New.

![image](https://user-images.githubusercontent.com/5760249/144418118-9aaf83b4-e7c3-477c-a8dc-e28541dc9738.png)

2. I checked your gist code (https://schoolsays.co.uk/wp-vimeo-videos-pro/script.js) - and you are missing

[2021-12-02 13:24] chrslcy commented on #43
Thanks again for your quick support. I managed to get both working. For the gist version, I already had a p element on the page like this:

`<p id="vimeo-url"></p>`

..but it didn't work until I changed it to a DIV. Not sure why. However, I will stick with the Gravity solution as it is more suitable for my purposes.

Thanks again!

Chris

[2021-12-02 15:30] gdarko commented on #43
Perfect @chrslcy

Closing this now.

[2021-12-02 15:30] #43 closed, assigned to nobody

[2021-12-09 10:30] amroland opened #44 "Admin page is not responsive on mobile"
If you see admin page on mobile you will notice that the panels are slid into each other.
![Képernyőfotó 2021-12-09 - 11 18 04](https://user-images.githubusercontent.com/39312392/145379745-1555ec67-8e73-4b2f-9ee2-68022e56d005.png)

I suggest that the panels should be placed one below the other. One by one

[2021-12-09 10:39] amroland opened #45 "Vimeo link on editor page of each video"
I suggest that the video's own Vimeo link (or at least your dgv_vimeo_video embed code) should be placed on the editor page of each video.
On that page only Title, Description and video can be used for identification. But if you upload the a video twice or more, you can't decide which Vimeo video you edit at the moment.

[2021-12-31 09:44] amroland opened #46 "Domain Embed privacy can be sent empty"
If you leave **Enter domain (without http(s)://)** field empty and accidentally click on **Add button** I think that adding process is running through unnecessarily. A window says that it changed successfully.
I think there should be a check if this field is empty or not before adding process starts.

[2021-12-31 09:49] amroland opened #47 "Suggestion: Duration column"
I can see that database contains duration of each uploaded video. I suggest that there should be a Duration column on uploaded videos list screen to be more able to identify each video.
and
Happy New Year, Darko!

[2021-12-31 10:31] amroland opened #48 "Pagination (like Next page) deletes Filter by author setting"
If you use Filter by author setting on video list screen to list only a given author's video and you click on next page (=next 20 items) it deletes what you set before. So unfiltered list will come up. You can see every author's video again.

I suggest if you set Filter by author, pagination will reflect on that, so next or previous page shows the given author's videos.

[2021-12-31 21:03] amroland opened #49 "Video description mustn't be empty after setting any text to it"
1. Set any text to video description and Save it.
2. Success window comes up.
3. Delete the whole text and try to Save it.
4. Error window says: "Please enter valid description"

I don't understand it. Description is not a mandatory field.

[2021-12-31 21:21] amroland opened #50 "Suggestion: Video size refresh (manual) button or automatic synchronization"
There could be a button, which syncs videos actual sizes from Vimeo.
It would be useful if you REPLACE any video on Vimeo site. And it would be also useful to fill/refresh sizes of videos, which was uploaded before size column was implemented to WP Vimeo Videos PRO (1.7.0.). "Not available":
![Képernyőfotó 2021-12-31 - 22 14 37](https://user-images.githubusercontent.com/39312392/147839180-6fc99

[2022-01-02 07:54] gdarko commented on #41
Hi @amroland

Regarding "The requested video couldn't be found" - this text is received from Vimeo and is impossible to translate with i18n system that WordPress uses.

Regarding "Save Settings" - this is already done and will be available in our next release.

Best Regards,
Darko

[2022-01-03 19:08] amroland opened #51 "Important: Editors cannot see all of their videos (more than 20 pcs)"
Hi Darko!

Our users (with editor role) have drawn our attention that they cannot see all of their uploaded videos (more than 20 pcs).

I checked and it's true:
If an Editor has got more than 20 videos uploaded, he/she cannot see just the first 20 pcs without any pagination.
If you add &paged=2 , &paged=3, etc to URL, it shows the rest of them, but pagination is still not visible.

For some reason

[2022-01-05 16:48] amroland commented on #22
Dear @gdarko,

This issue hasn't solved.

[2022-01-08 08:16] gdarko commented on #47
Hi @amroland -

I will delay this for future version for which i want to implement Vimeo sync process that will periodically check using cron task the locally stored videos against the vimeo API and gather details like duration, size,etc or remove if it doesn't exists on vimeo.com

Currently the duration is determined once you visit the video "Manage" page in the admin size lazily, however this wa

[2022-01-08 09:15] amroland commented on #47
Hi @gdarko,

Of course it's not the most important feature. I just suggested it to you.

Vimeo sync process with using cron is awesome!!!!

What most important for me now is this issue: https://github.com/gdarko/wp-vimeo-videos/issues/51
Can you look at it?

[2022-01-09 10:35] amroland opened #52 "Missing translation texts ("remove" and "Filter") in POT file"
2 texts is missing from POT file:

1. "remove" link on settings screen of an uploaded video:
![Képernyőfotó 2022-01-09 - 11 26 55](https://user-images.githubusercontent.com/39312392/148678613-dc7b98c7-9ca9-4fbd-b94e-c45c0262fa46.png)

2. "Filter" button on Videos list screen:
![Képernyőfotó 2022-01-12 - 13 17 33](https://user-images.githubusercontent.com/39312392/149139140-73662688-a0cd-4836

[2022-01-22 19:57] gdarko commented on #51
@amroland - the new version is now released.

[2022-01-22 20:16] amroland commented on #51
Dear Darko,

Yes, I already know it. Furthermore, I am very happy about it.
I already wanted to thank you, but thought, I wouldn't bother you right now. You should have enough work to do.
But of course I thank you!

[2022-01-22 21:10] amroland opened #53 "Suggestion: Clickable "Copy to clipboard" icon next to embed link"
It is just a suggestion.

On the uploaded videos list screen there could be a mini icon next to each embed code. When you click on it the embed code would copy to clipboard.
It would be a useful and error free function to paste the correct embed code.

[2022-01-24 10:10] amroland commented on #52
Hi Darko,

It's not so urgent at all, but Filter button is still not translatable. It is not in POT file.
![Képernyőfotó 2022-01-24 - 11 10 00](https://user-images.githubusercontent.com/39312392/150763368-3f85c9e3-16d6-4879-b11b-2a9813cc718b.png)

("remove" link translation text works well. Thanks!)

[2022-02-06 05:47] hirobel opened #54 "How to use PRO features"
I purchased PRO License.

「Video Uploads for Vimeo Settings」 is already installed on WordPress.
I don’t figure out where to input lisence key to use PRO features

[2022-02-06 07:00] gdarko commented on #54
Hi @hirobel

You need to log in to https://codeverve.com/my-account with the email address that you purchased the product and then go to "Licenses" tab. Click on the license you purchased and at the bottom, you will see "Downloads" section.

Let me know if you have any difficulties.

Best Regards,
Darko

[2022-02-06 08:47] hirobel commented on #54
@gdarko

Thank you for rapidly reply!
I understanded how to download it.

I'm exciting to develop web app by wp-vimeo-videos today!

[2022-02-06 08:47] #54 closed, assigned to nobody

[2022-03-16 12:42] amroland commented on #39
Dear Darko,
Can I ask you, what the status of this development is?
Thank you!

[2022-03-30 07:43] PSalaun opened #55 "Bulk delete does not work (fix provided)"
In Media/Vimeo, the bulk action "Delete" does not work because the uri sent to Vimeo API doesn't contain the `/videos/` part.

To fix it (for Vimeo Pro), change the line 379 in class-wp-dgv-list-table.php from :
`$vimeo_uri = $this->db_helper->get_vimeo_uri( $record );`
to
`$vimeo_uri = wvv_id_to_uri($this->db_helper->get_vimeo_uri( $record ));`

It's a quick and dirty fix, as I understand get_vim

[2022-03-30 07:46] PSalaun opened #56 "Gravity Forms frontend upload doesn't complete (fix provided)"
When uploading a video from Gravity Forms (modern or classic) with WP Vimeo Videos Pro v1.8, the background task to upload the video keeps failing and therefore the video is created in Vimeo but stuck on the "Uploading" step.

The culprit is Guzzle, and it can be fixed by updating this package to 7.4.2 (including its dependencies, using `composer update guzzlehttp/guzzle -W`)

[2022-04-05 11:29] amroland opened #57 "Inactive video name could confuse users by using "Insert Vimeo video from local library" option"
Choosing "Insert Vimeo video from local library" option in WP Vimeo upload block could confuse users a bit.

Selecting this option will immediately show the first insertable video name, but with an inactive color.
When clicked into drop-down menu, the full list of videos is displayed correctly. "Select existing video" text is also displayed at the top of this list.
![Képernyőfotó 2022-04-05 - 1

[2022-04-10 12:47] Shajeel-Afzal commented on #54
@gdarko I am also facing this problem, I have purchased the Pro Version however I am not sure where to download the Pro Version! I don't see the download button after going the link that you have specified, All I see the key.

[2022-04-10 13:00] johnvsc opened #58 "Merge Tags Fail after adding Vimeo Uploader to a Gravity Forms View"
TL;DR: [watch the video explanation](https://www.zavocki.com/vimeo-error-example.mp4 )

My client has your pro version  (Michele at TunesForGood.org) and this is just what we need to go live. ... HOWEVER,  I have bizarre edge case that is blocking our launch - and it seems to happen when we render a Gravity  Forms View (grrrrrr) after we add your plugin.

We're leaning on Gravity Views (https://gr

[2022-04-10 13:15] johnvsc commented on #58
maybe a solution can be found on an add on that uses Merge Tags: https://docs.gravityforms.com/gf_field_coupon/

[2022-04-10 15:34] gdarko commented on #58
Hi @johnvsc

I am looking at the issue already. Will let you know once i have more details.

Best Regards,
Darko

[2022-04-10 15:36] gdarko commented on #54
Hi @Shajeel-Afzal

1. Login to the site in https://codeverve.com/my-account
2. Go to Licenses tab
3. Open the purchased License
4. Scroll down to the bottom to download the pro version.
5. Deactivate FREE version and Upload/Activate PRO to your site

Best Regards,
Darko

[2022-04-10 17:10] gdarko commented on #58
Hi @johnvsc

Can you please contact me at info@codeverve.com with the login details of the test site and i will be looking asap.

I don't have GravityView set up on my dev machine so it will be definitely faster if you contact me.

Best Regards,
Darko

[2022-04-10 20:28] gdarko commented on #58
Hey @johnvsc

Just to notify you that i received password reset link, but your site is protected by HTTP Basic Auth and i can't proceed. Please either remove it send me the login details in email.

Best Regards,
Darko

[2022-04-25 15:37] johnvsc commented on #58
Hi Darko - can you provide a link to the patch for this ticket ... i cant seem to find it!

Thanks - john z

[2022-05-08 12:32] gdarko commented on #58
Marking as resolved. Version 1.8.1 resolves this issue.

[2022-05-08 12:32] #58 closed, assigned to nobody

[2022-05-08 12:33] gdarko commented on #56
This is fixed in 1.8.1

[2022-05-08 12:33] #56 closed, assigned to nobody

[2022-05-08 12:33] gdarko commented on #55
This is fixed in 1.8.1

Thanks for reporting.

[2022-05-08 12:33] #55 closed, assigned to nobody

[2022-05-08 12:34] #51 closed, assigned to gdarko

[2022-05-08 12:35] #49 closed, assigned to gdarko

[2022-05-08 12:36] #48 closed, assigned to gdarko

[2022-05-08 12:36] #46 closed, assigned to nobody

[2022-05-08 12:37] #45 closed, assigned to gdarko

[2022-05-08 12:38] #44 closed, assigned to gdarko

[2022-05-08 12:38] #42 closed, assigned to nobody

[2022-05-08 12:38] #40 closed, assigned to nobody

[2022-05-08 12:39] #37 closed, assigned to nobody

[2022-05-08 12:39] #33 closed, assigned to nobody

[2022-05-08 12:39] #41 closed, assigned to nobody

[2022-05-08 12:41] #47 closed, assigned to nobody

[2022-05-16 13:48] EthanCG opened #59 "Upload via gravityform not working"
Hi,
Currently testing your plugin and uploading from media library work but uploading from a gravityform doesn't.
Standard field display and can pick a file.
Modern field doesn't work at all, display pictogram but no area active.

Any clue ?
My WP is running on latest version, on Linux 4.14.253/Apache/php 7.4.25/ cURL 7.64.0 OpenSSL/1.1.1d , no console error

[2022-05-16 14:34] gdarko commented on #59
Hey @EthanCG ,

I am happy to help on this. Can you please contact me on info@codeverve.com and provide me temporary wp login to test?

Best Regards,
Darko

[2022-05-19 21:55] johnvsc opened #60 "in Gravity Forms, value of uploaded video isn't preserved when updating entry"
Hi Darko - thanks for your work on these issues!

In Gravity Forms when I

- update an entry with a previously uploaded video (using the classic upload form field, specifically),
- a value from the field doesn't show (either a uploaded video object or whatever is saved in the field)
- instead, an upload video component appears
- if I don't re-upload a video and click save
- then the value in the f

[2022-07-05 07:04] amroland commented on #57
Hi Darko,
I tried it with only one uploaded video. And it doesn't work.
The first (and only) video is being selected but after Publish (or preview) the post the video isn't embedded:
![Képernyőfotó 2022-07-05 - 8 55 41](https://user-images.githubusercontent.com/39312392/177268890-1f0771d2-ba3d-480f-9b34-b18ea62b75cb.png)

On the editor screen of the post WP Vimeo Upload block shows the inactive

[2022-08-21 11:20] amroland commented on #52
It's done. You can close this issue. And thank you, off course! :)

[2022-08-21 11:47] amroland opened #61 "Suggestion: Total uploaded size per users"
I suggest that there could be a counter on the list page that shows the total size of all videos uploaded by the GIVEN user.
This could be solved if the wp_users or wp_usermeta table in the database contained an uploaded-total-size variable for each users.
When a user is uploading a video, a process should increase the value of this variable by the size of the uploaded video.
On deletion, a proces

[2022-08-21 11:59] amroland opened #62 "Suggestion: Vimeo embed link or dgv shortcode column"
There could be an option in the settings to show whether vimeo embed links instead of the already coded dgv shortcode in the list table.
This would be useful if the uploaded videos are not embedded on the same website, but on another, external websites where the dgv shortcode does not work. There, users must use the vimeo embed link.
This is how I imagine it:
![Képernyőfotó 2022-08-21 - 13 49 26](

[2022-08-21 12:14] amroland opened #63 "Suggestion: Option to hide "Folder" panel"
I suggest that there could be a setting option with which you can hide "Folder" panel on videos single editor screen.
Folders has limited usage. Folders aren't that important sometimes, but could be confusing for users who doesn't know what it is.
I mean this panel:
![Képernyőfotó 2022-08-21 - 14 06 32](https://user-images.githubusercontent.com/39312392/185790362-c7873d53-c7dc-4a06-9f33-141d6a5

[2022-08-27 18:35] amroland opened #64 ""Content ratings" settings options"
It would be useful if you could set the "Content ratings" of the given video while uploading it. (Can be default values.)
And it would be also useful if there was "Content ratings" setting on the video editor page:

**All audiences** OR **Mature** (Profanity, Drug / alcohol use, Violence, Nudity)
- [ ] This video contains an advertisement.

Especially for public videos, Vimeo strongly encourages t

[2022-11-24 23:40] gdarko commented on #30
Moved to our private issue tracker

[2022-11-24 23:40] #30 closed, assigned to gdarko

[2022-11-24 23:41] #52 closed, assigned to nobody

[2022-11-24 23:42] gdarko commented on #59
Closed for inactivity

[2022-11-24 23:42] #59 closed, assigned to nobody